In [1]:
import pandas as pd
from config import sql_id as ID
from sqlalchemy import create_engine

In [2]:
port = '5432'
db = 'Project_Lotto'
pgdb = f'postgresql://{ID}@thelottoproject.postgres.database.azure.com:{port}/{db}?sslmode=require'
sql_engine = create_engine(pgdb)
sql_engine.connect()

In [3]:
sql_query = 'SELECT * FROM MondayLotto;'
lotto = pd.read_sql_query(sql_query, sql_engine)
lotto.head(10)

,Draw number,Draw date,Winning Number 1,Winning Number 2,Winning Number 3,Winning Number 4,Winning Number 5,Winning Number 6,Supplementary Number 1,Supplementary Number 2,...,Division 4 prize pool,Division 4 amount,Division 5 winners,Division 5 winners in WA,Division 5 prize pool,Division 5 amount,Division 6 winners,Division 6 winners in WA,Division 6 prize pool,Division 6 amount
0,4024,2020-11-09,20,4,7,45,11,37,41,28,...,510690.00,34.80,32630,3892,726017.50,22.25,58428.0,6950.0,1226988.00,21.00
1,4022,2020-11-02,45,42,21,40,32,44,36,24,...,514664.80,34.85,29189,3050,731184.45,25.05,59218.0,6509.0,1237656.20,20.90
2,4020,2020-10-26,6,29,24,2,43,14,10,17,...,287284.80,26.40,29740,3494,408925.00,13.75,67358.0,7934.0,690419.50,10.25
3,4018,2020-10-19,39,25,45,16,1,13,10,30,...,315275.00,25.00,30672,5415,449344.80,14.65,74922.0,8711.0,760458.30,10.15
4,4016,2020-10-12,33,9,5,2,28,10,30,40,...,298013.10,19.95,31107,3337,423055.20,13.60,61647.0,6511.0,718187.55,11.65
5,4014,2020-10-05,37,7,39,5,28,22,24,14,...,280780.50,25.50,28282,3479,398776.20,14.10,60658.0,7657.0,676336.70,11.15
6,4012,2020-09-28,3,17,11,24,38,16,31,26,...,313458.75,22.35,32847,3088,445076.85,13.55,64304.0,5792.0,752356.80,11.70
7,4010,2020-09-21,22,35,18,1,4,8,14,38,...,342228.80,21.40,36645,3872,487378.50,13.30,62896.0,7125.0,823937.60,13.10
8,4008,2020-09-14,31,16,23,43,1,24,18,36,...,302952.15,29.45,26503,3215,430673.75,16.25,61271.0,6993.0,729124.90,11.90
9,4006,2020-09-07,9,16,23,44,36,1,39,25,...,753232.00,52.60,34870,3597,1070509.00,30.70,68248.0,7437.0,1808572.00,26.50

In [4]:
x = lotto.iloc[:,0:10]
x

,Draw number,Draw date,Winning Number 1,Winning Number 2,Winning Number 3,Winning Number 4,Winning Number 5,Winning Number 6,Supplementary Number 1,Supplementary Number 2
0,4024,2020-11-09,20,4,7,45,11,37,41,28
1,4022,2020-11-02,45,42,21,40,32,44,36,24
2,4020,2020-10-26,6,29,24,2,43,14,10,17
3,4018,2020-10-19,39,25,45,16,1,13,10,30
4,4016,2020-10-12,33,9,5,2,28,10,30,40
...,...,...,...,...,...,...,...,...,...,...
754,2516,2006-05-29,36,39,35,45,5,2,9,30
755,2514,2006-05-22,17,36,14,34,3,5,28,20
756,2512,2006-05-15,1,8,32,24,22,6,17,31
757,2510,2006-05-08,30,26,17,36,27,7,14,38
758,2508,2006-05-01,31,40,35,11,33,27,7,14

In [5]:
x['Draw year'] = pd.to_datetime(x['Draw date']).dt.year
x['Draw month'] = pd.to_datetime(x['Draw date']).dt.month
x['Draw day'] = pd.to_datetime(x['Draw date']).dt.day
x.drop('Draw date', axis=1, inplace=True)
x

,Draw number,Winning Number 1,Winning Number 2,Winning Number 3,Winning Number 4,Winning Number 5,Winning Number 6,Supplementary Number 1,Supplementary Number 2,Draw year,Draw month,Draw day
0,4024,20,4,7,45,11,37,41,28,2020,11,9
1,4022,45,42,21,40,32,44,36,24,2020,11,2
2,4020,6,29,24,2,43,14,10,17,2020,10,26
3,4018,39,25,45,16,1,13,10,30,2020,10,19
4,4016,33,9,5,2,28,10,30,40,2020,10,12
...,...,...,...,...,...,...,...,...,...,...,...,...
754,2516,36,39,35,45,5,2,9,30,2006,5,29
755,2514,17,36,14,34,3,5,28,20,2006,5,22
756,2512,1,8,32,24,22,6,17,31,2006,5,15
757,2510,30,26,17,36,27,7,14,38,2006,5,8
758,2508,31,40,35,11,33,27,7,14,2006,5,1

In [6]:
x = x[['Draw number', 'Draw year', 'Draw month', 'Draw day', 'Winning Number 1', 'Winning Number 2', 'Winning Number 3', 'Winning Number 4', 'Winning Number 5', 'Winning Number 6', 'Supplementary Number 1', 'Supplementary Number 2']]
x

,Draw number,Draw year,Draw month,Draw day,Winning Number 1,Winning Number 2,Winning Number 3,Winning Number 4,Winning Number 5,Winning Number 6,Supplementary Number 1,Supplementary Number 2
0,4024,2020,11,9,20,4,7,45,11,37,41,28
1,4022,2020,11,2,45,42,21,40,32,44,36,24
2,4020,2020,10,26,6,29,24,2,43,14,10,17
3,4018,2020,10,19,39,25,45,16,1,13,10,30
4,4016,2020,10,12,33,9,5,2,28,10,30,40
...,...,...,...,...,...,...,...,...,...,...,...,...
754,2516,2006,5,29,36,39,35,45,5,2,9,30
755,2514,2006,5,22,17,36,14,34,3,5,28,20
756,2512,2006,5,15,1,8,32,24,22,6,17,31
757,2510,2006,5,8,30,26,17,36,27,7,14,38
758,2508,2006,5,1,31,40,35,11,33,27,7,14

In [7]:
y = x.iloc[1:,4:]
y = y.reset_index(drop=True)
y

,Winning Number 1,Winning Number 2,Winning Number 3,Winning Number 4,Winning Number 5,Winning Number 6,Supplementary Number 1,Supplementary Number 2
0,45,42,21,40,32,44,36,24
1,6,29,24,2,43,14,10,17
2,39,25,45,16,1,13,10,30
3,33,9,5,2,28,10,30,40
4,37,7,39,5,28,22,24,14
...,...,...,...,...,...,...,...,...
753,36,39,35,45,5,2,9,30
754,17,36,14,34,3,5,28,20
755,1,8,32,24,22,6,17,31
756,30,26,17,36,27,7,14,38
757,31,40,35,11,33,27,7,14

In [8]:
from keras.layers import Input, Dense
from keras.models import Model

In [9]:
x_train = x.iloc[0:700, 0:5]
y_train = y.iloc[0:700, 0:1]

x_test = x.iloc[700:len(x)-1, 0:5]
y_test = y.iloc[700:, 0:1]

In [10]:
input_tensor = Input(shape=(5,))
dense_tensor = Dense(1)(input_tensor)

model = Model(inputs=input_tensor, outputs=dense_tensor)
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 5)]               0
_________________________________________________________________
dense (Dense)                (None, 1)                 6
=================================================================
Total params: 6
Trainable params: 6
Non-trainable params: 0
_________________________________________________________________

In [11]:
model.compile(optimizer='adam', loss='mae', metrics=['accuracy'])
model.fit(x_train, x_train, batch_size = 32, epochs = 5, validation_data = (x_test, y_test))

Epoch 1/5
22/22 [==============================] - 0s 9ms/step - loss: 4492.7422 - accuracy: 0.0000e+00 - val_loss: 2753.3218 - val_accuracy: 0.0000e+00
Epoch 2/5
22/22 [==============================] - 0s 2ms/step - loss: 4374.2358 - accuracy: 0.0000e+00 - val_loss: 2651.7666 - val_accuracy: 0.0000e+00
Epoch 3/5
22/22 [==============================] - 0s 2ms/step - loss: 4255.7896 - accuracy: 0.0000e+00 - val_loss: 2550.1387 - val_accuracy: 0.0000e+00
Epoch 4/5
22/22 [==============================] - 0s 2ms/step - loss: 4137.3789 - accuracy: 0.0000e+00 - val_loss: 2448.4487 - val_accuracy: 0.0000e+00
Epoch 5/5
22/22 [==============================] - 0s 2ms/step - loss: 4018.8845 - accuracy: 0.0000e+00 - val_loss: 2346.8308 - val_accuracy: 0.0000e+00

In [12]:
from keras.models import Sequential
model_seq = Sequential()
model_seq.add(Dense(units=100, activation='relu', input_dim=5))
model_seq.add(Dense(units=100, activation='relu'))
model_seq.add(Dense(units=100, activation='relu'))
model_seq.add(Dense(units=1, activation='softmax'))
model_seq.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 100)               600
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 101
=================================================================
Total params: 20,901
Trainable params: 20,901
Non-trainable params: 0
_________________________________________________________________

In [13]:
model_seq.compile(optimizer='adam', loss='mae', metrics=['accuracy'])

model_seq.fit(x_train, y_train, epochs=10, validation_data = (x_test, y_test))

Epoch 1/10
22/22 [==============================] - 0s 9ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 2/10
22/22 [==============================] - 0s 2ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 3/10
22/22 [==============================] - 0s 3ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 4/10
22/22 [==============================] - 0s 3ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 5/10
22/22 [==============================] - 0s 3ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 6/10
22/22 [==============================] - 0s 3ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 7/10
22/22 [==============================] - 0s 2ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 8/10
22/22 [==============================] - 0s 2ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 9/10
22/22 [==============================] - 0s 2ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690
Epoch 10/10
22/22 [==============================] - 0s 2ms/step - loss: 21.1714 - accuracy: 0.0271 - val_loss: 22.1034 - val_accuracy: 0.0690